# Data Exploration

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
train_df = pd.read_csv('training_set_VU_DM.csv')
train_df.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [5]:
train_df.shape

(4958347, 54)

In [6]:
train_df.isnull().sum()

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
visitor_hist_starrating        4706481
visitor_hist_adr_usd           4705359
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                 7364
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2           1090348
prop_log_historical_price            0
position                             0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
srch_query_affinity_score      4640941
orig_destination_distance      1607782
random_bool                          0
comp1_rate                     4838417
comp1_inv                      4828788
comp1_rate_percent_diff        4863908
comp2_rate                     2933675
comp2_inv                      2828078
comp2_rate_percent_diff        4402109
comp3_rate                     3424059
comp3_inv                      3307357
comp3_rate_percent_diff        4485550
comp4_rate                     4650969
comp4_inv                      4614684
comp4_rate_percent_diff        4827261
comp5_rate                     2735974
comp5_inv                      2598327
comp5_rate_percent_diff        4117248
comp6_rate                     4718190
comp6_inv                      4697371
comp6_rate_percent_diff        4862173
comp7_rate                     4642999
comp7_inv                      4601925
comp7_rate_percent_diff        4819832
comp8_rate                     3041693
comp8_inv                      2970844
comp8_rate_percent_diff        4343617
click_bool                           0
gross_bookings_usd             4819957
booking_bool                         0
dtype: int64

In [7]:
train_df.duplicated().sum()

0

In [8]:
#combining variables that make sense
train_df['price_usd_per_person'] = train_df['price_usd'] / (train_df['srch_room_count'] * train_df['srch_adults_count'])
train_df['price_difference'] = train_df['price_usd'] - train_df['price_usd_per_person']
train_df['price_difference'].describe()

count    4.958347e+06
mean     1.193250e+02
std      8.729411e+03
min      0.000000e+00
25%      2.600000e+01
50%      5.450000e+01
75%      8.950000e+01
max      9.863164e+06
Name: price_difference, dtype: float64

In [9]:
#combine 'prob_location_score1' and 'prob_location_score2' into one variable
train_df['prob_location_score'] = train_df['prop_location_score1'] * train_df['prop_location_score2']
train_df['prob_location_score'].describe()

count    3.867999e+06
mean     5.029057e-01
std      7.552847e-01
min      0.000000e+00
25%      3.828000e-02
50%      1.991670e-01
75%      6.398600e-01
max      6.688170e+00
Name: prob_location_score, dtype: float64

In [10]:
#get mean of 'prop_star_rating' and 'visitor_hist_starrating'
train_df['prop_starrating_mean'] = train_df[['prop_starrating']].mean(axis=1)
train_df['prop_starrating_mean'].describe()

count    4.958347e+06
mean     3.180525e+00
std      1.051024e+00
min      0.000000e+00
25%      3.000000e+00
50%      3.000000e+00
75%      4.000000e+00
max      5.000000e+00
Name: prop_starrating_mean, dtype: float64

In [11]:
#combine prop_starrating_mean and   prop_review_score
train_df['prop_starrating_mean_review_score'] = train_df['prop_starrating_mean'] * train_df['prop_review_score']
train_df['prop_starrating_mean_review_score'].describe()

count    4.950983e+06
mean     1.235629e+01
std      5.760272e+00
min      0.000000e+00
25%      8.000000e+00
50%      1.350000e+01
75%      1.600000e+01
max      2.500000e+01
Name: prop_starrating_mean_review_score, dtype: float64

In [12]:
#get log of price_usd
train_df['price_usd_log'] = np.log(train_df['price_usd'])
train_df['price_usd_log'].describe()

/Users/juliagerbing/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

count    4.958347e+06
mean             -inf
std               NaN
min              -inf
25%      4.442651e+00
50%      4.804021e+00
75%      5.220140e+00
max      1.679746e+01
Name: price_usd_log, dtype: float64

In [15]:
train_df['prop_country_id']

0          219
1          219
2          219
3          219
4          219
          ...
4958342    219
4958343    219
4958344    219
4958345    219
4958346    219
Name: prop_country_id, Length: 4958347, dtype: int64

In [16]:
#how man different countries are there?
train_df['prop_country_id'].nunique()

172

In [18]:
train_df['price_usd'].describe()

count    4.958347e+06
mean     2.542096e+02
std      1.600124e+04
min      0.000000e+00
25%      8.500000e+01
50%      1.220000e+02
75%      1.849600e+02
max      1.972633e+07
Name: price_usd, dtype: float64