# Data Preparation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_df = pd.read_csv('files/training_set_VU_DM.csv')
test_df = pd.read_csv('files/test_set_VU_DM.csv')

In [3]:
train_df["visitor_hist_starrating"].fillna(0, inplace=True)
train_df["visitor_hist_adr_usd"].fillna(-1, inplace=True)

# remove columns with more than 50% missing values
td = train_df.dropna(thresh=train_df.shape[0]*0.5,axis=1)
td = td.drop(['orig_destination_distance'], axis=1)
td

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,random_bool,click_bool,booking_bool
0,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,893,3,3.5,...,23246,1,0,4,0,1,1,1,0,0
1,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,10404,4,4.0,...,23246,1,0,4,0,1,1,1,0,0
2,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,21315,3,4.5,...,23246,1,0,4,0,1,1,1,0,0
3,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,27348,2,4.0,...,23246,1,0,4,0,1,1,1,0,0
4,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,29604,4,3.5,...,23246,1,0,4,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958342,332785,2013-06-30 19:55:18,5,219,0.0,-1.0,219,77700,3,4.0,...,16974,1,21,3,0,1,0,0,0,0
4958343,332785,2013-06-30 19:55:18,5,219,0.0,-1.0,219,88083,3,4.0,...,16974,1,21,3,0,1,0,0,0,0
4958344,332785,2013-06-30 19:55:18,5,219,0.0,-1.0,219,94508,3,3.5,...,16974,1,21,3,0,1,0,0,0,0
4958345,332785,2013-06-30 19:55:18,5,219,0.0,-1.0,219,128360,3,5.0,...,16974,1,21,3,0,1,0,0,1,1
4958346,332785,2013-06-30 19:55:18,5,219,0.0,-1.0,219,134949,3,2.5,...,16974,1,21,3,0,1,0,0,0,0

In [4]:
td.head(30)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,random_bool,click_bool,booking_bool
0,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,893,3,3.5,...,23246,1,0,4,0,1,1,1,0,0
1,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,10404,4,4.0,...,23246,1,0,4,0,1,1,1,0,0
2,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,21315,3,4.5,...,23246,1,0,4,0,1,1,1,0,0
3,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,27348,2,4.0,...,23246,1,0,4,0,1,1,1,0,0
4,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,29604,4,3.5,...,23246,1,0,4,0,1,1,1,0,0
5,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,30184,4,4.5,...,23246,1,0,4,0,1,1,1,0,0
6,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,44147,3,3.5,...,23246,1,0,4,0,1,1,1,0,0
7,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,50984,2,0.0,...,23246,1,0,4,0,1,1,1,0,0
8,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,53341,4,4.0,...,23246,1,0,4,0,1,1,1,0,0
9,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,56880,4,4.0,...,23246,1,0,4,0,1,1,1,0,0
10,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,59267,3,0.0,...,23246,1,0,4,0,1,1,1,0,0
11,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,59526,3,3.5,...,23246,1,0,4,0,1,1,1,0,0
12,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,68914,2,3.0,...,23246,1,0,4,0,1,1,1,1,1
13,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,74474,3,4.5,...,23246,1,0,4,0,1,1,1,0,0
14,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,81437,3,4.0,...,23246,1,0,4,0,1,1,1,0,0
15,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,85728,2,3.0,...,23246,1,0,4,0,1,1,1,0,0
16,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,88096,4,4.0,...,23246,1,0,4,0,1,1,1,0,0
17,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,88127,3,3.0,...,23246,1,0,4,0,1,1,1,0,0
18,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,88218,4,3.5,...,23246,1,0,4,0,1,1,1,0,0
19,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,89073,4,4.0,...,23246,1,0,4,0,1,1,1,0,0
20,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,95166,3,4.0,...,23246,1,0,4,0,1,1,1,0,0
21,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,95307,4,3.5,...,23246,1,0,4,0,1,1,1,0,0
22,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,97247,2,3.5,...,23246,1,0,4,0,1,1,1,0,0
23,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,107872,2,3.5,...,23246,1,0,4,0,1,1,1,0,0
24,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,111000,3,4.5,...,23246,1,0,4,0,1,1,1,0,0
25,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,111106,3,2.5,...,23246,1,0,4,0,1,1,1,0,0
26,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,114766,2,3.5,...,23246,1,0,4,0,1,1,1,0,0
27,1,2013-04-04 08:32:15,12,187,0.0,-1.0,219,122844,3,4.5,...,23246,1,0,4,0,1,1,1,0,0
28,4,2012-12-31 08:59:22,5,219,0.0,-1.0,219,3625,4,4.0,...,12588,2,46,1,0,1,1,1,0,0
29,4,2012-12-31 08:59:22,5,219,0.0,-1.0,219,11622,4,4.0,...,12588,2,46,1,0,1,1,1,0,0

In [5]:
td.isnull().sum()

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
visitor_hist_starrating              0
visitor_hist_adr_usd                 0
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                 7364
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2           1090348
prop_log_historical_price            0
position                             0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
random_bool                          0
click_bool                           0
booking_bool                         0
dtype: int64

In [6]:
null_score = td[td["prop_location_score2"].isnull()]["prop_id"]

# get rows where prop_location_score2 is not null
not_null_score = td[td["prop_location_score2"].notnull()][["prop_id", "prop_location_score2"]]

# get mean of prop_location_score2 for each prop_id
mean_score = not_null_score.groupby("prop_id").mean()
mean_dict = mean_score.to_dict()["prop_location_score2"]

# fill null values with mean
td.loc[td["prop_location_score2"].isnull(), "prop_location_score2"] = td[td["prop_location_score2"].isnull()]["prop_id"].map(mean_dict)

In [7]:
td["prop_location_score2"].fillna(-1, inplace=True)
td["prop_review_score"].fillna(0, inplace=True)

In [8]:
td.isnull().sum()

srch_id                        0
date_time                      0
site_id                        0
visitor_location_country_id    0
visitor_hist_starrating        0
visitor_hist_adr_usd           0
prop_country_id                0
prop_id                        0
prop_starrating                0
prop_review_score              0
prop_brand_bool                0
prop_location_score1           0
prop_location_score2           0
prop_log_historical_price      0
position                       0
price_usd                      0
promotion_flag                 0
srch_destination_id            0
srch_length_of_stay            0
srch_booking_window            0
srch_adults_count              0
srch_children_count            0
srch_room_count                0
srch_saturday_night_bool       0
random_bool                    0
click_bool                     0
booking_bool                   0
dtype: int64

In [9]:
td.shape

(4958347, 27)

In [10]:
booked_hotels = td[td["booking_bool"] == 1]

booked_scores = booked_hotels[["prop_id", "prop_starrating", "prop_review_score", "prop_location_score1", "prop_location_score2"]]

In [11]:
# get how many times each hotel was booked
booked_count = booked_scores.groupby("prop_id").count()

# get mean of each score for each hotel
booked_mean = booked_scores.groupby("prop_id").mean()

# merge the datasets
booked = pd.merge(booked_count, booked_mean, on="prop_id")
booked.drop(["prop_starrating_x", "prop_review_score_x", "prop_location_score1_x"], axis=1, inplace=True)
booked.columns = ["booked_count", "prop_starrating", "prop_review_score", "prop_location_score1", "prop_location_score2"]
booked

,booked_count,prop_starrating,prop_review_score,prop_location_score1,prop_location_score2
prop_id,,,,,
2,1,0.0,4.0,0.69,0.036100
3,2,3.0,3.5,0.69,0.011700
4,1,5.0,4.5,4.88,0.115500
11,4,4.0,4.0,4.65,0.124600
15,2,4.0,3.5,2.08,0.025200
...,...,...,...,...,...
140804,3,2.0,4.0,1.61,0.500300
140805,2,3.0,4.0,1.79,0.346100
140809,3,2.0,3.5,3.56,0.140067
140816,18,3.0,4.0,2.77,0.067733
140821,1,4.0,5.0,0.69,0.009500

In [12]:
# get the family hotels
family_hotels = booked_hotels[booked_hotels["srch_children_count"] > 0]
family_hotels = family_hotels[["prop_id"]].value_counts()
family_hotels = pd.DataFrame(family_hotels).reset_index().rename(columns={"count": "booked_family_count"})

# merge the datasets
booked = pd.merge(booked, family_hotels, on="prop_id", how="left")

In [13]:
booked

,prop_id,booked_count,prop_starrating,prop_review_score,prop_location_score1,prop_location_score2,booked_family_count
0,2,1,0.0,4.0,0.69,0.036100,NaN
1,3,2,3.0,3.5,0.69,0.011700,NaN
2,4,1,5.0,4.5,4.88,0.115500,1.0
3,11,4,4.0,4.0,4.65,0.124600,1.0
4,15,2,4.0,3.5,2.08,0.025200,1.0
...,...,...,...,...,...,...,...
43423,140804,3,2.0,4.0,1.61,0.500300,NaN
43424,140805,2,3.0,4.0,1.79,0.346100,1.0
43425,140809,3,2.0,3.5,3.56,0.140067,NaN
43426,140816,18,3.0,4.0,2.77,0.067733,7.0
43427,140821,1,4.0,5.0,0.69,0.009500,NaN

In [14]:
# adult hotels
solo_travellers = booked_hotels[booked_hotels["srch_adults_count"] == 1]
solo_travellers = solo_travellers[solo_travellers["srch_children_count"] == 0]
solo_travellers = solo_travellers[["prop_id"]].value_counts()
solo_travellers = pd.DataFrame(solo_travellers).reset_index().rename(columns={"count": "solo_count"})
solo_travellers

       prop_id  solo_count
0        22578          40
1        14536          31
2       110940          29
3        53341          28
4        79740          24
...        ...         ...
16866    55110           1
16867    55114           1
16868    55117           1
16869    55125           1
16870   140821           1

[16871 rows x 2 columns]

In [15]:
# merge the datasets
booked = pd.merge(booked, solo_travellers, on="prop_id", how="left")

In [16]:
booked

,prop_id,booked_count,prop_starrating,prop_review_score,prop_location_score1,prop_location_score2,booked_family_count,solo_count
0,2,1,0.0,4.0,0.69,0.036100,NaN,NaN
1,3,2,3.0,3.5,0.69,0.011700,NaN,1.0
2,4,1,5.0,4.5,4.88,0.115500,1.0,NaN
3,11,4,4.0,4.0,4.65,0.124600,1.0,2.0
4,15,2,4.0,3.5,2.08,0.025200,1.0,NaN
...,...,...,...,...,...,...,...,...
43423,140804,3,2.0,4.0,1.61,0.500300,NaN,NaN
43424,140805,2,3.0,4.0,1.79,0.346100,1.0,NaN
43425,140809,3,2.0,3.5,3.56,0.140067,NaN,NaN
43426,140816,18,3.0,4.0,2.77,0.067733,7.0,1.0
43427,140821,1,4.0,5.0,0.69,0.009500,NaN,1.0

In [17]:
# get couples
couples = booked_hotels[booked_hotels["srch_adults_count"] == 2]
couples = couples[couples["srch_children_count"] == 0]
couples = couples[couples["srch_room_count"] == 1]

# get search ids of couples
couples_search_ids = couples["srch_id"].unique()

# get couples hotels
couples_hotels = booked_hotels[booked_hotels["srch_id"].isin(couples_search_ids)]
couples_hotels = couples_hotels[["prop_id"]].value_counts()
couples_hotels = pd.DataFrame(couples_hotels).reset_index().rename(columns={"count": "booked_couples_count"})

In [18]:
couples_hotels

       prop_id  booked_couples_count
0       116942                    71
1        22578                    67
2        77089                    64
3       137997                    60
4        37818                    56
...        ...                   ...
28825    59426                     1
28826    59400                     1
28827    59393                     1
28828    59362                     1
28829    69793                     1

[28830 rows x 2 columns]

In [19]:
booked = pd.merge(booked, couples_hotels, on="prop_id", how="left")
booked

,prop_id,booked_count,prop_starrating,prop_review_score,prop_location_score1,prop_location_score2,booked_family_count,solo_count,booked_couples_count
0,2,1,0.0,4.0,0.69,0.036100,NaN,NaN,1.0
1,3,2,3.0,3.5,0.69,0.011700,NaN,1.0,1.0
2,4,1,5.0,4.5,4.88,0.115500,1.0,NaN,NaN
3,11,4,4.0,4.0,4.65,0.124600,1.0,2.0,1.0
4,15,2,4.0,3.5,2.08,0.025200,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
43423,140804,3,2.0,4.0,1.61,0.500300,NaN,NaN,NaN
43424,140805,2,3.0,4.0,1.79,0.346100,1.0,NaN,1.0
43425,140809,3,2.0,3.5,3.56,0.140067,NaN,NaN,3.0
43426,140816,18,3.0,4.0,2.77,0.067733,7.0,1.0,9.0
43427,140821,1,4.0,5.0,0.69,0.009500,NaN,1.0,NaN

In [20]:
all_prop_ids = set(td["prop_id"])
unbooked_hotels = all_prop_ids - set(booked["prop_id"])
unbooked_hotels = td[td["prop_id"].isin(unbooked_hotels)]

unbooked_scores = unbooked_hotels[["prop_id", "prop_starrating", "prop_review_score", "prop_location_score1", "prop_location_score2"]]

unbooked_mean = unbooked_scores.groupby("prop_id").mean()

In [21]:
# add the prop_id in unbooked_mean as a column and reset the index
unbooked_mean["prop_id"] = unbooked_mean.index
unbooked_mean.reset_index(drop=True, inplace=True)

In [22]:
# merge the datasets
all_hotels = pd.concat([booked, unbooked_mean], axis=0)

In [23]:
unbooked_mean

,prop_starrating,prop_review_score,prop_location_score1,prop_location_score2,prop_id
0,2.0,0.0,3.04,-1.000000,1
1,0.0,0.0,6.02,-1.000000,5
2,3.0,0.0,2.30,0.018762,6
3,0.0,5.0,6.49,0.124700,7
4,3.0,4.0,3.99,0.071900,8
...,...,...,...,...,...
85680,3.0,4.0,2.20,0.022396,140815
85681,2.0,3.0,4.43,0.143200,140817
85682,3.0,0.0,4.17,0.068500,140818
85683,3.0,4.0,5.37,0.106100,140819
85684,4.0,0.0,3.87,-1.000000,140820

In [24]:
# gill in all the NaN values with 0
all_hotels.fillna(0, inplace=True)
all_hotels

,prop_id,booked_count,prop_starrating,prop_review_score,prop_location_score1,prop_location_score2,booked_family_count,solo_count,booked_couples_count
0,2,1.0,0.0,4.0,0.69,0.036100,0.0,0.0,1.0
1,3,2.0,3.0,3.5,0.69,0.011700,0.0,1.0,1.0
2,4,1.0,5.0,4.5,4.88,0.115500,1.0,0.0,0.0
3,11,4.0,4.0,4.0,4.65,0.124600,1.0,2.0,1.0
4,15,2.0,4.0,3.5,2.08,0.025200,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
85680,140815,0.0,3.0,4.0,2.20,0.022396,0.0,0.0,0.0
85681,140817,0.0,2.0,3.0,4.43,0.143200,0.0,0.0,0.0
85682,140818,0.0,3.0,0.0,4.17,0.068500,0.0,0.0,0.0
85683,140819,0.0,3.0,4.0,5.37,0.106100,0.0,0.0,0.0
85684,140820,0.0,4.0,0.0,3.87,-1.000000,0.0,0.0,0.0

In [25]:
all_hotels["search_count"] = all_hotels["prop_id"].map(td["prop_id"].value_counts())

In [26]:
# using click_bool and prop_ids, create a new column that contains the count of clicks for each hotel
clicked = td[td["click_bool"] == 1]
clicked_hotels = clicked[["prop_id", "click_bool"]]
clicked_hotels["click_count"] = clicked_hotels["prop_id"].map(clicked_hotels["prop_id"].value_counts())
clicked_hotels.drop_duplicates(subset="prop_id", inplace=True)
clicked_hotels.drop("click_bool", axis=1, inplace=True)

# merge the datasets
all_hotels = pd.merge(all_hotels, clicked_hotels, on="prop_id", how="left")

/var/folders/0m/_y7l8ln90mlbfr427hwkgw000000gn/T/ipykernel_38273/312721104.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clicked_hotels["click_count"] = clicked_hotels["prop_id"].map(clicked_hotels["prop_id"].value_counts())
/var/folders/0m/_y7l8ln90mlbfr427hwkgw000000gn/T/ipykernel_38273/312721104.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clicked_hotels.drop_duplicates(subset="prop_id", inplace=True)
/var/folders/0m/_y7l8ln90mlbfr427hwkgw000000gn/T/ipykernel_38273/312721104.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clicked_hotels.drop("click_bool", axis=1, inplace=True)

In [27]:
# get which hotels were chain hotels using prop_brand_bool
chain_hotels = td[["prop_id", "prop_brand_bool"]]
chain_hotels.drop_duplicates(subset="prop_id", inplace=True)

# merge the datasets
all_hotels = pd.merge(all_hotels, chain_hotels, on="prop_id", how="left")

/var/folders/0m/_y7l8ln90mlbfr427hwkgw000000gn/T/ipykernel_38273/46206001.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chain_hotels.drop_duplicates(subset="prop_id", inplace=True)

In [28]:
def check_unique(col):
    return td.groupby("srch_id")[col].nunique().value_counts()

# for col in ['site_id', 'visitor_location_country_id',
#        'visitor_hist_starrating', 'visitor_hist_adr_usd']:
#     print(check_unique(col))

# for col in ['srch_adults_count', 'srch_children_count', 'srch_room_count']:
#     print(check_unique(col))

# for col in ['promotion_flag', 'srch_length_of_stay', 'srch_booking_window']:
#     print(check_unique(col))

# for col in ['random_bool']:
#     print(check_unique(col))

In [29]:
# create a dictionary srch id key and prop ids as a list
srch_prop_dict = td.groupby("srch_id")["prop_id"].apply(list).to_dict()
srch_booking_dict = td.groupby("srch_id")["booking_bool"].apply(list).to_dict()

In [30]:
promo_dict = td.groupby("srch_id")["promotion_flag"].apply(list).to_dict()
click_dict = td.groupby("srch_id")["click_bool"].apply(list).to_dict()
prices = td.groupby("srch_id")["price_usd"].apply(list).to_dict()

In [31]:
positions = td.groupby("srch_id")["position"].apply(list).to_dict()

In [32]:
agg_dict = {"site_id": "first", "visitor_location_country_id": "first", "visitor_hist_starrating": "first", "visitor_hist_adr_usd": "first",
            "srch_adults_count": "first", "srch_children_count": "first", "srch_room_count": "first", "srch_length_of_stay": "first",
            "srch_booking_window": "first", "random_bool": "first"}

# group searches by srch_id
grouped = td.groupby("srch_id").agg(agg_dict)

# add prop ids to the grouped dataset
grouped["prop_ids"] = grouped.index.map(srch_prop_dict)

# add booking bools to the grouped dataset
grouped["booking_bools"] = grouped.index.map(srch_booking_dict)

# add promotion flags to the grouped dataset
grouped["promotion_flags"] = grouped.index.map(promo_dict)

# add click bools to the grouped dataset
grouped["click_bools"] = grouped.index.map(click_dict)

# add prices to the grouped dataset
grouped["prices"] = grouped.index.map(prices)

# add positions to the grouped dataset
grouped["positions"] = grouped.index.map(positions)

grouped

,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,srch_adults_count,srch_children_count,srch_room_count,srch_length_of_stay,srch_booking_window,random_bool,prop_ids,booking_bools,promotion_flags,click_bools,prices,positions
srch_id,,,,,,,,,,,,,,,,
1,12,187,0.0,-1.0,4,0,1,1,0,1,"[893, 10404, 21315, 27348, 29604, 30184, 44147...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[104.77, 170.74, 179.8, 602.77, 143.58, 195.32...","[27, 26, 21, 34, 4, 7, 18, 35, 3, 10, 20, 19, ..."
4,5,219,0.0,-1.0,1,0,1,2,46,1,"[3625, 11622, 11826, 22824, 37581, 39993, 4616...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[295.0, 299.0, 373.0, 329.0, 600.0, 365.0, 331...","[21, 36, 22, 4, 26, 3, 24, 9, 18, 10, 29, 31, ..."
6,14,100,0.0,-1.0,2,0,1,1,5,0,"[10759, 22135, 52376, 104251, 118866]","[0, 0, 0, 1, 0]","[0, 0, 0, 0, 0]","[0, 0, 0, 1, 0]","[97.63, 115.03, 86.03, 145.0, 183.66]","[4, 6, 2, 1, 3]"
8,5,219,0.0,-1.0,1,0,1,1,0,0,"[10250, 13252, 22756, 27669, 30630, 32491, 338...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[82.0, 160.0, 259.0, 85.0, 109.0, 199.0, 119.0...","[15, 19, 10, 16, 20, 6, 13, 12, 14, 1, 22, 25,..."
11,5,219,0.0,-1.0,2,0,1,1,39,1,"[6492, 8946, 9952, 19470, 20499, 24526, 26421,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[47.0, 84.0, 50.0, 60.0, 45.0, 119.0, 89.0, 85...","[36, 19, 14, 9, 31, 2, 25, 7, 3, 13, 26, 18, 2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332777,16,31,0.0,-1.0,2,1,1,5,52,1,"[2501, 10876, 17592, 19823, 20969, 23347, 2600...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[95.65, 99.58, 161.16, 231.92, 138.89, 82.55, ...","[28, 31, 2, 27, 9, 24, 22, 33, 1, 30, 7, 34, 3..."
332781,5,219,0.0,-1.0,1,0,1,2,5,0,"[2980, 18007, 19532, 26996, 34160, 46293, 5800...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[55.0, 57.0, 64.0, 54.0, 67.0, 50.0, 51.0, 69....","[9, 1, 2, 8, 15, 16, 10, 4, 18, 7, 14, 12, 3, ..."
332782,19,158,0.0,-1.0,1,0,1,2,2,0,"[9648, 9800, 9869, 10505, 12463, 18628, 22617,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[71.72, 64.96, 82.76, 44.27, 89.89, 57.42, 193...","[6, 10, 24, 16, 28, 4, 12, 15, 27, 14, 20, 13,..."
332784,24,219,0.0,-1.0,1,0,1,2,6,0,"[2899, 5988, 12507, 12976, 21150, 25223, 28943...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[240.89, 100.51, 203.42, 121.76, 131.39, 145.0...","[24, 14, 4, 32, 10, 16, 31, 30, 3, 22, 9, 20, ..."
332785,5,219,0.0,-1.0,3,0,1,1,21,0,"[55110, 77700, 88083, 94508, 128360, 134949]","[0, 0, 0, 0, 1, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 1, 0]","[109.0, 118.0, 89.0, 99.0, 139.0, 61.0]","[7, 2, 3, 4, 1, 6]"

In [33]:
def get_booked_prop_ids(row):
    prop_ids = row["prop_ids"]
    booking_bools = row["booking_bools"]
    booked_prop_ids = []
    for i in range(len(booking_bools)):
        if booking_bools[i] == 1:
            booked_prop_ids.append(prop_ids[i])
    return booked_prop_ids

grouped["booked_prop_ids"] = grouped.apply(get_booked_prop_ids, axis=1)

In [34]:
def get_promoted_prop_ids(row):
    prop_ids = row["prop_ids"]
    promotion_flags = row["promotion_flags"]
    promoted_prop_ids = []
    for i in range(len(promotion_flags)):
        if promotion_flags[i] == 1:
            promoted_prop_ids.append(prop_ids[i])
    return promoted_prop_ids

grouped["promoted_prop_ids"] = grouped.apply(get_promoted_prop_ids, axis=1)

In [35]:
# do the same for click bools
def get_clicked_prop_ids(row):
    prop_ids = row["prop_ids"]
    click_bools = row["click_bools"]
    clicked_prop_ids = []
    for i in range(len(click_bools)):
        if click_bools[i] == 1:
            clicked_prop_ids.append(prop_ids[i])
    return clicked_prop_ids

grouped["clicked_prop_ids"] = grouped.apply(get_clicked_prop_ids, axis=1)

In [36]:
# using the prop_ids, prices and booked_prop_ids columns, create a new column that contains the average price of the booked hotels
def get_average_booked_price(row):
    prop_ids = row["prop_ids"]
    prices = row["prices"]
    booked_prop_ids = row["booked_prop_ids"]
    booked_prices = []
    for i in range(len(prop_ids)):
        if prop_ids[i] in booked_prop_ids:
            booked_prices.append(prices[i])
    if len(booked_prices) == 0: 
        return -1
    else:
        return np.mean(booked_prices)

grouped["average_booked_price"] = grouped.apply(get_average_booked_price, axis=1)

In [37]:
# get the position of the booked hotel
def get_booked_position(row):
    prop_ids = row["prop_ids"]
    positions = row["positions"]
    booked_prop_ids = row["booked_prop_ids"]
    booked_positions = []
    for i in range(len(prop_ids)):
        if prop_ids[i] in booked_prop_ids:
            booked_positions.append(positions[i])
    if len(booked_positions) == 0: 
        return -1
    else:
        return np.mean(booked_positions)
    
grouped["booked_position"] = grouped.apply(get_booked_position, axis=1)

In [38]:
# drop the booking bools, promotion flags and click bools columns
grouped.drop(["booking_bools", "promotion_flags", "click_bools"], axis=1, inplace=True)

In [39]:
grouped

,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,srch_adults_count,srch_children_count,srch_room_count,srch_length_of_stay,srch_booking_window,random_bool,prop_ids,prices,positions,booked_prop_ids,promoted_prop_ids,clicked_prop_ids,average_booked_price,booked_position
srch_id,,,,,,,,,,,,,,,,,,
1,12,187,0.0,-1.0,4,0,1,1,0,1,"[893, 10404, 21315, 27348, 29604, 30184, 44147...","[104.77, 170.74, 179.8, 602.77, 143.58, 195.32...","[27, 26, 21, 34, 4, 7, 18, 35, 3, 10, 20, 19, ...",[68914],[88096],[68914],100.89,13.0
4,5,219,0.0,-1.0,1,0,1,2,46,1,"[3625, 11622, 11826, 22824, 37581, 39993, 4616...","[295.0, 299.0, 373.0, 329.0, 600.0, 365.0, 331...","[21, 36, 22, 4, 26, 3, 24, 9, 18, 10, 29, 31, ...",[],"[11826, 46162, 85742, 89119, 109185, 110813, 1...",[139893],-1.00,-1.0
6,14,100,0.0,-1.0,2,0,1,1,5,0,"[10759, 22135, 52376, 104251, 118866]","[97.63, 115.03, 86.03, 145.0, 183.66]","[4, 6, 2, 1, 3]",[104251],[],[104251],145.00,1.0
8,5,219,0.0,-1.0,1,0,1,1,0,0,"[10250, 13252, 22756, 27669, 30630, 32491, 338...","[82.0, 160.0, 259.0, 85.0, 109.0, 199.0, 119.0...","[15, 19, 10, 16, 20, 6, 13, 12, 14, 1, 22, 25,...",[27669],"[13252, 33805, 35397]",[27669],85.00,16.0
11,5,219,0.0,-1.0,2,0,1,1,39,1,"[6492, 8946, 9952, 19470, 20499, 24526, 26421,...","[47.0, 84.0, 50.0, 60.0, 45.0, 119.0, 89.0, 85...","[36, 19, 14, 9, 31, 2, 25, 7, 3, 13, 26, 18, 2...",[],[100969],[20499],-1.00,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332777,16,31,0.0,-1.0,2,1,1,5,52,1,"[2501, 10876, 17592, 19823, 20969, 23347, 2600...","[95.65, 99.58, 161.16, 231.92, 138.89, 82.55, ...","[28, 31, 2, 27, 9, 24, 22, 33, 1, 30, 7, 34, 3...",[],"[17592, 23347, 26006, 38898, 43185, 49316, 525...",[66560],-1.00,-1.0
332781,5,219,0.0,-1.0,1,0,1,2,5,0,"[2980, 18007, 19532, 26996, 34160, 46293, 5800...","[55.0, 57.0, 64.0, 54.0, 67.0, 50.0, 51.0, 69....","[9, 1, 2, 8, 15, 16, 10, 4, 18, 7, 14, 12, 3, ...",[18007],"[19532, 120379]",[18007],57.00,1.0
332782,19,158,0.0,-1.0,1,0,1,2,2,0,"[9648, 9800, 9869, 10505, 12463, 18628, 22617,...","[71.72, 64.96, 82.76, 44.27, 89.89, 57.42, 193...","[6, 10, 24, 16, 28, 4, 12, 15, 27, 14, 20, 13,...",[68398],"[58344, 68398, 91741]","[58344, 68398]",109.43,2.0
332784,24,219,0.0,-1.0,1,0,1,2,6,0,"[2899, 5988, 12507, 12976, 21150, 25223, 28943...","[240.89, 100.51, 203.42, 121.76, 131.39, 145.0...","[24, 14, 4, 32, 10, 16, 31, 30, 3, 22, 9, 20, ...",[34966],"[2899, 5988, 12976, 21150, 48512, 82051, 89802...",[34966],125.55,3.0
332785,5,219,0.0,-1.0,3,0,1,1,21,0,"[55110, 77700, 88083, 94508, 128360, 134949]","[109.0, 118.0, 89.0, 99.0, 139.0, 61.0]","[7, 2, 3, 4, 1, 6]",[128360],[],[128360],139.00,1.0

In [40]:
# export the grouped dataset to a csv file
grouped.to_csv("searches.csv")

# export the all_hotels dataset to a csv file
all_hotels.to_csv("hotels.csv")